*{
    font-family: 'Poppins', sans-serif;
     -webkit-user-select: none;
      -moz-user-select: -moz-none;
      -o-user-select: none;
      user-select: none;
  }
  .movie_card{
    padding: 0 !important;
    width: 22rem;
    margin: 14px; 
    border-radius: 10px;
  }
  .movie_info{
    color: black;
  }
  
  .movie_info p{
    font-size: 20px;
  }
  .card-title{
    font-size: 20px;
    text-align: center;
  }
  .card-text{
    text-align: center;
  }
  .out-more{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .more{
    width: 63px;
  }